// src/assets/scss/global.scss

@import "variables";

.icon-action {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .navbar-item{
    margin-right:10px;
  }

  .site-title{
    color:white;
    text-decoration: none;
  }